/Guia 2 - Introduccion a Java/Guia2Ejercicios/build/
/Guia 3 - Estructuras de Control en Java/Guia3Ejercicios/nbproject/private/
/Guia 3 - Estructuras de Control en Java/Guia3EjerciciosExtras/nbproject/private/
/Guia 3 - Estructuras de Control en Java/Guia3Ejercicios/build/
/Guia 4 - Subprogramas en Java/Guia4Ejercicios/nbproject/private/
/Guia 4 - Subprogramas en Java/Guia4Ejercicios/build/
/Guia 5 - Arreglos en Java/Guia5Ejercicios/nbproject/private/
/Guia 5 - Arreglos en Java/Guia5Ejercicios/build/
/Guia 5_1 - Arreglos en Java/nbproject/private/
/Guia 5 - Arreglos en Java/build/